.form-container{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button{
    margin-bottom: 10px;
    border: 1px solid #676462;
    background-color: #676462;
    color: white;
    border-radius: 5px;
}

.button:hover{
    color: #676462;
    background-color: white;
    cursor: pointer;
    outline: 1px solid #676462;
}